*{
box-sizing: border-box;
margin:0;
padding:0;
justify-content: center;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
background-color: rgb(0, 0, 0);
justify-content: center;



}
.container-cabecalho{

    width: 100%;
    height: 293px;
    max-width: 935px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 100px;
    padding:10px 50px 30px 50px;
    /* background-color: rgb(11, 244, 252); */

}
.container-info-perfil {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: grid;
    /* background-color: #a8a8a8; */

}

.logo {
    width: 150px;
    height: 150px;
    border-radius: 100px;
   
}

.container-header {

    display: flex;
    width: 100%;
    gap: 12px;
    align-items: center;

    /*background-color: yellow; */
}
.container-flex-row {

    display: flex;
    width: 100%;
    gap: 12px;
    align-items: center;
    /*background-color: yellow; */
}
.container-colecao {

    display: flex;
    width: 100%;
    gap: 50px;
    justify-content: start-flex;

    /*background-color: yellow; */
}

.button-info-perfil {
    display: flex;
    padding: 3px 16px 3px 16px;
    background-color: #363636;
    color: rgb(255, 255, 255);
    border-radius: 8px;

   
    /* background-color: greenyellow; */
}

.nome-perfil {
    font-size: 20px;
    color: #e0f1ff;
    /* background-color: rgb(194, 10, 10); */

}

.icon {
    background-color: #363636;
    border-radius: 8px;
}

.container-bio {

    font-size: 14px;
    height: 100px;
    /* background-color: blueviolet; */
}

.text-info-perfil {
    color: #a8a8a8;

}

strong {
    color: white;
}

.link-github {
    font-size: 14px;
    color: #e0f1ff;
    text-decoration: none;
}

.text-bio {
    font-size: 14px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.seguido {
    font-size: 12px;
    color: gray;
}


.destaque {

    margin-inline-end: 10px;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    justify-content: center;

}

.colecao-img-destaque {
    height: 410px;
    width: 307px;
    object-fit: cover;

}
.colecao-img{
    display: flex;
    border-radius: 100%;
    border-color: #ffff;
    width: 77px;
    height: 77px;

}

.container-fotos {

    max-width: 935px;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
}

.divisao {
    width: 100%;
    height: 55px;
  
    margin-top: 53px;
    display: flex;
    gap: 30px;
    font-size: 12px;
    color: #ffff;
}
span{
    color: #ffff;
    box-sizing: border-box;
    width: 85px;
    height: 16px;
}